.footer{
    padding-bottom:47px;
    padding-top: 29px;
}
.footer_list {
    li{
        float: left;
    }
}
.footer_list{
    li+li{
        padding-left: 57px;
    }
}
.footer_list {
    a{
        color: $white;
        font-size: 24px;
    }
}