body{
    font-family: sans-serif;
    margin: 0px 0px;
    color:$white;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.wrapper{
    margin: 0 auto;
    width: 1100px;
}
.container_color--purple{
    background-color: $purple;
    margin: 0px 0px;
}
.container_color--green{
    background-color : $green;
    margin: 0px 0px;
}
.container_color--blue{
    background-color: $blue;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}