.main_info {
    h2{
        padding-top: 118px;
        padding-bottom: 50px ;
        margin-top: 0px;
        font-size: 40px;
    }
}

.main_info{
    font-size: 18px;
    padding-bottom: 82px;
    text-align: center;
}

.main_colums {
    text-align: center;
    padding-bottom: 129px;
}

.main_colums--flag{
    float: left;
    width: 260px;
}
.main_colums--pen{
    float: left;
    width: 260px;
}
.main_colums--gear{
    float: left;
    width: 260px;
}
.main_colums--rocket{
    float: left;
    width: 260px;
}

